{% extends "base.twig" %}
{% block title %}About{% endblock %}
{% block content %}
  <div class="starter-template">
    <h1>About</h1>
    <p class="lead">About the project ...</p>
  </div>
{% endblock %}
