{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
      <div class="starter-template">
        <h1>Business Intelligence Seminar</h1>
        <p class="lead">Course Project</p>
      </div>
{% endblock %}
